<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.hrdrec.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRDRec"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".organization.expensecategories.ExpenseCategories"
            android:exported="false" />
        <activity
            android:name=".organization.HolidayCalendars.addHolidayCalendar.AddHolidayCalendar"
            android:exported="false" />
        <activity
            android:name=".organization.emailTemplates.EmailTemplates"
            android:exported="false" />
        <activity
            android:name=".manager.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".manager.EmpTimeStatusReviewActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerAuthorisedFragment"
            android:exported="false" />
        <activity
            android:name=".manager.MangerLeaveReviewActivity"
            android:exported="false" />
        <activity
            android:name=".manager.ManagerTimeSheetActivity"
            android:exported="false" />
        <activity
            android:name=".leaves.AddLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".leaves.AllLeavesFragment"
            android:exported="false" />
        <activity
            android:name=".timesheet.AddTimeSheetActivity"
            android:exported="false" />
        <activity
            android:name=".timesheet.TimeSchedulerFragment"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".organization.locations.addlocation.AddNewLocation"
            android:exported="false" />
        <activity
            android:name=".organization.clients.addclients.AddNewClients"
            android:exported="false" />
        <activity
            android:name=".admin.users.AssignUsers"
            android:exported="false" />
        <activity
            android:name=".admin.roles.AddRoles"
            android:exported="false" />
        <activity
            android:name=".organization.clients.Clients"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.users.Users"
            android:exported="true" />
        <activity
            android:name=".admin.roles.Roles"
            android:exported="true" />
        <activity
            android:name=".organization.employees.Employees"
            android:exported="true" />
        <activity
            android:name=".organization.locations.Location"
            android:exported="true" />
        <activity
            android:name=".organization.OrganizationFragment"
            android:exported="true" />
        <activity
            android:name=".organization.HolidayCalendars.HolidayCalendar"
            android:exported="true" />
        <activity
            android:name=".admin.Admin"
            android:exported="true" />
        <activity
            android:name=".projects.AssignProjects"
            android:exported="true" />
        <activity
            android:name=".organization.leavetypes.AssignLeavetypes"
            android:exported="false" />
        <activity
            android:name=".organization.leavetypes.LeaveTypes"
            android:exported="false" />
        <activity
            android:name=".organization.organizationprofile.addorganizationprofile.AddNewOrganizationProfile"
            android:exported="false" />
        <activity
            android:name=".organization.organizationprofile.OrganizationProfile"
            android:exported="false" />

        <activity
            android:name=".expenses.Expenses"
            android:exported="true" />


        <activity
            android:name=".expenses.ExpenseListActivity"
            android:exported="true" />

        <activity
            android:name=".expenses.ExpenseAuthorizeListActivity"
            android:exported="true" />

        <activity
            android:name=".expenses.ExpenseAdd.ExpenseAdd"
            android:exported="true" />

        <activity
            android:name=".expenses.ExpenseReimburseActivity"
            android:exported="true" />

        <activity
            android:name=".expenses.UpdateExpenseActivity"
            android:exported="true" />
    </application>

</manifest>